<div [class.bg-light]="formDiv">
  <div *ngIf="!logedIn" class="body-main text-center">
    <main class="form-signin">
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            required
            minlength="4"
            [(ngModel)]="login.email"
            #email="ngModel"
            [ngModelOptions]="{ standalone: true }"
            [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
          />
          <label for="floatingInput">Email address</label>
          <span
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="error invalid-feedback"
            >Please enter your email</span
          >
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
            [(ngModel)]="login.password"
            #password="ngModel"
            [ngModelOptions]="{ standalone: true }"
            [class.is-invalid]="
              password.invalid && (password.dirty || password.touched)
            "
          />
          <label for="floatingPassword">Password</label>
          <span
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="error invalid-feedback"
            >Please enter your password</span
          >
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button
          [disabled]="loginForm.invalid"
          class="w-100 btn btn-lg btn-primary"
          type="submit"
        >
          Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
      </form>
    </main>
  </div>

  <main *ngIf="logedIn">
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a
          href="/"
          class="d-flex align-items-center text-dark text-decoration-none"
        >
          <span class="fs-4">ARCONS Offers System</span>
        </a>
      </header>
      <div *ngIf="!formDiv">
        <div class="row justify-content-between">
          <div class="col-4">
            <button (click)="newOffer()" class="btn btn-primary my-2">
              <i class="fas fa-plus"></i> Add Request
            </button>
          </div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              (input)="onSearchChange($event)"
              value=""
            />
          </div>
        </div>

        <div *ngIf="offers.length > 0">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Client</th>
                  <th>Project</th>
                  <th>Scope of Work</th>
                  <th>Service Type</th>
                  <th>Quotation Date</th>
                  <th>Quotation No#</th>
                  <th>Quotation Value</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let o of offers
                      | paginate: { itemsPerPage: 20, currentPage: p }
                  "
                  [class.table-success]="
                    o.status.toLowerCase().includes('awarded')
                  "
                  [class.table-warning]="
                    o.status.toLowerCase().includes('pending')
                  "
                  [class.table-secondary]="
                    o.status.toLowerCase().includes('apolog')
                  "
                >
                  <td>{{ o.rec_date }}</td>
                  <td>{{ o.client }}</td>
                  <td>{{ o.project_name }}</td>
                  <td>{{ o.description }}</td>
                  <td>{{ o.work_type }}</td>
                  <td>{{ o.quo_date }}</td>
                  <td async *ngIf="o.quo_no">{{ o.quo_no }}</td>
                  <td *ngIf="!o.quo_no">
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-sm"
                      (click)="assignNo(o)"
                    >
                      Assign No
                    </button>
                  </td>
                  <td>{{ o.quo_values }}</td>
                  <td>{{ o.status }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-success btn-sm"
                      (click)="editOffer(o)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="deleteOffer(o)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <pagination-controls
                (pageChange)="p = $event"
                previousLabel=""
                nextLabel=""
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="formDiv">
        <div class="row g-5 justify-content-center">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">{{ formTitle ?? "" }}</h4>
            <form (ngSubmit)="onSubmit()" #offerForm="ngForm">
              <div class="row g-3">
                <div class="col-sm-3">
                  <label for="rec_date" class="form-label">Request Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="rec_date"
                    value=""
                    required
                    [(ngModel)]="model.rec_date"
                    name="rec_date"
                    #rec_date="ngModel"
                  />
                  <div
                    [hidden]="rec_date.valid || rec_date.pristine"
                    class="alert alert-danger"
                  >
                    Request Date is required
                  </div>
                </div>

                <div class="col-sm-9">
                  <label for="client" class="form-label">Client</label>
                  <input
                    type="text"
                    class="form-control"
                    id="client"
                    value=""
                    required
                    [(ngModel)]="model.client"
                    name="client"
                    #client="ngModel"
                  />
                  <div
                    [hidden]="rec_date.valid || rec_date.pristine"
                    class="alert alert-danger"
                  >
                    Client is required
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="project_name" class="form-label">Project</label>
                  <input
                    type="text"
                    class="form-control"
                    id="project_name"
                    value=""
                    required
                    [(ngModel)]="model.project_name"
                    name="project_name"
                    #project_name="ngModel"
                  />
                  <div
                    [hidden]="project_name.valid || project_name.pristine"
                    class="alert alert-danger"
                  >
                    Project is required
                  </div>
                </div>

                <div class="col-12">
                  <label for="description" class="form-label"
                    >Description
                    <span class="text-muted">(Optional)</span></label
                  >
                  <textarea
                    class="form-control"
                    col="4"
                    id="description"
                    [(ngModel)]="model.description"
                    name="description"
                  ></textarea>
                </div>

                <div class="col-3">
                  <label for="work_type" class="form-label">Work Scope</label>
                  <select
                    class="form-select"
                    id="work_type"
                    required
                    [(ngModel)]="model.work_type"
                    name="work_type"
                    #work_type="ngModel"
                  >
                    <option *ngFor="let pow of workScope" [value]="pow">
                      {{ pow }}
                    </option>
                  </select>
                  <div
                    [hidden]="work_type.valid || work_type.pristine"
                    class="alert alert-danger"
                  >
                    Work Scope is required
                  </div>
                </div>

                <div class="col-3">
                  <label for="quo_no" class="form-label"
                    >Offer No. <span class="text-muted">(Optional)</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="quo_no"
                    [(ngModel)]="model.quo_no"
                    name="quo_no"
                  />
                </div>
                <div class="col-3">
                  <label for="quo_date" class="form-label"
                    >Offer Date
                    <span class="text-muted">(Optional)</span></label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="quo_date"
                    [(ngModel)]="model.quo_date"
                    name="quo_date"
                  />
                </div>

                <div class="col-3">
                  <label for="quo_values" class="form-label"
                    >Offer Value
                    <span class="text-muted">(Optional)</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="quo_values"
                    [(ngModel)]="model.quo_values"
                    name="quo_values"
                  />
                </div>

                <div class="col-12">
                  <label for="status" class="form-label"
                    >Offer Status
                    <span class="text-muted">(Optional)</span></label
                  >
                  <textarea
                    class="form-control"
                    col="4"
                    id="status"
                    [(ngModel)]="model.status"
                    name="status"
                  ></textarea>
                </div>

                <hr class="my-4" />
                <div class="col-12">
                  <button
                    [disabled]="!offerForm.form.valid"
                    class="btn btn-primary"
                    type="submit"
                  >
                    Submit
                  </button>
                  <button
                    (click)="formDiv = false"
                    class="btn btn-secondary float-end"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <footer class="pt-3 mt-4 text-muted border-top">© 2021</footer>
    </div>
  </main>
</div>
